.schedule-table {
  width: 100%;
  border-collapse: collapse;
}

.schedule-table th,
.schedule-table td {
  border: 1px solid hsl(274, 88%, 50%);
  padding: 10px;
  font-family: "Montserrat", Arial;
  font-weight: 700;
  font-size: 1em;
}

.schedule-table th {
  text-align: center;
}

.table-cell {
  height: 150px;
  vertical-align: top;
}

.schedule-table-container.razred-1c {
  background-color: #f0f8ff; /* Light Blue */
}

.schedule-table-container.razred-2c {
  background-color: #ffe4e1; /* Light Pink */
}

.schedule-table-container.razred-3c {
  background-color: #e6e6fa; /* Lavender */
}

button {
  margin-bottom: 10px;
  padding: 8px 16px;
  font-size: 16px;
  cursor: pointer;
}

input[type="checkbox"] {
  margin-right: 5px;
}
