.select-row {
  display: flex;
  flex-direction: column;
  margin-bottom: 8px;
  font-family: "Montserrat", Arial;
  font-weight: 500;
  font-size: 1em;
}

.subject-select,
.group-select {
  width: 80%;
  margin-bottom: 5px;
  font-family: "Montserrat", Arial;
  font-weight: 500;
}
