body,
html {
  margin: 0;
  padding: 0;
  font-family: "Fira Sans", Arial, Helvetica, sans-serif;

  color: #333;
}

.App {
  text-align: center;
  padding: 20px;
}

.App h1 {
  font-size: 2.5em;
  margin-bottom: 20px;
  color: #0073e6;
  text-transform: uppercase;
  letter-spacing: 1.2px;
}

.App button {
  background-color: #0073e6;
  color: white;
  border: none;
  padding: 10px 20px;
  margin: 10px 5px;
  font-size: 16px;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease, transform 0.2s ease;
}

.App button:hover {
  background-color: #005bb5;
  transform: translateY(-2px);
}

.App button:active {
  background-color: #004494;
  transform: translateY(0);
}

/* Admin/Student Mode Toggle Button */
.App div button {
  background-color: #0073e6;
  margin-bottom: 20px;
}

.App div button:hover {
  background-color: #004494;
}

.App div button:active {
  background-color: #004494;
}

/* Selected Grade Title */
.schedule-table-container h2 {
  font-size: 2em;
  margin-top: 20px;
  margin-bottom: 20px;
  color: #333;
}

/* Layout for ScheduleTable content (optional) */
.schedule-table-container {
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  background-color: white;
}

/* Responsive Adjustments */
@media (max-width: 768px) {
  .App h1 {
    font-size: 2em;
  }

  .App button {
    font-size: 14px;
    padding: 8px 16px;
  }
}
